header {
  background-color: #cbf3f0; /*Light grayish cyan */
  text-align: unset;
  padding: 10px 0;  /* Adds a 10px inner spacing to all sides */
  margin: 0px;
  position: fixed;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #011627;

}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: none;
  color: #011627;
}

h2 {
  font-size: 2.00em;
  font-weight: 700;
  color: #2EC4B6;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Hyperlinks and hover state */

a {
  color: #E71D36; /* red */
  text-decoration: none; /* No underlining */

}

a:visited {
  color:#800080 ; /* purple */
}

a:hover, a:focus {
  color: #FFA500; /* orange */
  text-decoration: underline; /* Underlining when hovering over a link */

}

a:active {
  color: #E71D36; /* red */
}

/* Button and hover state */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2EC4B6;
  color: #ffffff; /* needed to override the default link color */
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #18655E; /* width of the border, type, color */
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
  }

.button:hover {
  opacity: 0.6; /* Reduces the opacity of the button to 80% */
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  opacity: 0.9; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact{
  background-color: transparent;
  color: #2EC4B6;
  text-transform: uppercase;
  border: 2px solid #2EC4B6;
}

.button.contact:hover{
  background-color: #2EC4B6;
  color: #ffffff;
}

.button.contact:active {
  opacity: 0.9; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.image { width: 400px; }
.image.big { width: 800px; }

/*
Colors used:
Primary Color (Brigth Cyan): #2EC4B6;
Secondary Color (Alizarin - pink-red): #E71D36;
Background Color (Panache - light green): #EFFFE9
Font Color (Black Pearl): #011627
*/

/*
Fonts used: Montserrat
font-family: 'Montserrat', sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap" rel="stylesheet">
 */


/* Layout styling */

.container {
  padding: 0 15px; /*Adds 0px to top & bottom and 15px to left and right */
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }


.center {
  text-align: center;
}

.left {
  text-align: left;
}

.logo {
  max-width: 250px;
}

nav {display: inline-block; width:auto; float: right;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #E71D36; /* red */
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #800080; /* purple */
}


nav > ul > li > a:hover, a:focus {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFA500; /* orange */
}

#hero {
  background-color: #cbf3f0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 99px;
}

ul {
  list-style-position: inside;
}

#work {
  text-align: left;
  display: inline-block;
  width: 100%;
}

#about {
  text-align: center;
  display: inline-block;
  width: 100%;
}

#story {
  text-align: left;
  display: inline-block;
  width: 100%;
}

#skillset {
  text-align: left;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
  display: inline-block;
  width: 100%;
}

#social {
  margin: 16px 0
}

#mail {
  margin: 16px 0
}

#project {
  text-align: center;
  display: inline-block;
  width: 100%;
}

@keyframes color-change-1 {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change-1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cube {
  animation-duration: 4s;
  animation-name: color-change-1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-2 {
  from {fill: #e0e0fc;}
  to {fill: #B5CE6F;}
}

.background {
  animation-duration: 4s;
  animation-name: color-change-2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    padding-bottom: 20px
  }

/* add padding and change max width to have it on the same level as the nav elements */
  .logo {
    max-width: 300px;
    padding: 20px 15px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  #about-page h3 {margin-top: 0;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  body{
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    }

  .col-lg-7 {
    width: 58.33%;
    }

  .col-lg-5 {
    width: 41.66%;
    }

    [class*="col-"] {
      float: left;
      padding: 10px
    }


  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }

  .flex-container {
    display: flex;
    justify-content: flex-start;
  }

    .flex-skill {
      display: flex;
      flex-direction:column;
      justify-content: flex-start;
    }

    #button-cv {
      text-align: left;
    }

    #tools {
    width: 100%;
    }

    #skill {
    width: 100%;
    }

    #story h2 {text-align: left}
    #skillset h2 {text-align: left}

}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
